/*=========css_header=========*/
.header_top_area{
    height: 120px;
    line-height: 90px;
}
.top_header_left{
    height: 120px;
    padding: 5px 0px;
}
#navbarSupportedContent{
    height: 75px;
}
#dropdownMenu2{
    background-color: rgb(251, 251, 251);
    height: 73px;
    line-height: 60px;
}
.box_search>form{
    background: white;
}
/*=========end_css_header=========*/
/*=========css_footer=========*/
.footer_copyright{
    border-top: none;
    text-align: center;
    height: 80px;
}
/*=========end_css_footer=========*/
/*=========css_home=========*/
.top_header_middle>img{
    width: 210px;
}
.banner{
    width:100%;
    min-width:300px;  
    text-align:center;
    position:relative;
}
.banner img{
    width:100%;
    height:400px;
}
.pre, .next{
    cursor:pointer;
    position:absolute;
    top:50%;
    width:auto;
    padding:16px;
    color:white;
    font-weight:bold;
    font-size:18px;
    transition:0.6s ease-in-out;
    border-radius:0 3px 3px 0;
    border:none;
    
}
.pre:hover, .next:hover{
    background-color:rgba(0,0,0,0.8);
}
.next{
    right:0;
    border-radius:3px 0 0 3px;
}
.pre{
    left:0;
    border-radius:0 3px 3px 0;
}
.d-flex>img{
    width: 80px;
}
.img-fluid{
    width: 600px;
}
/*=========end_css_home=========*/

/*=========css_tintuc=========*/
.col-lg-9{
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0.5px rgb(173, 173, 173);
    padding-top: 18px;
}
.f_product_left{
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0.5px rgb(173, 173, 173);
}
.content_sub{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 18px;
    border-bottom: 1px solid rgb(192, 192, 192);
    padding-bottom: 10px;
}
.image_content>a>img{
    width: 270px;
}
.loaitin>p{
    background-color: rgb(249, 249, 249);
    color: gray;
    max-width: 110px;
    max-height: 20px;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}
.title>p{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 10px 0px;
}
.demo>p{
    color: rgb(127, 127, 127);
    margin-bottom: 15px;
}
.title_content>span{
    color: rgb(93, 93, 250);
}

/*=========end_css_tintuc=========*/
/*=========css_sanpham=========*/
.sanphamdanhmuc{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    grid-column-gap: 5px;
}
/*=========end_css_sanpham=========*/
